package components

templ Header(title string) {
	<header class="flex justify-between items-center mb-6">
		<h1 class="text-2xl font-bold text-neutral-900 dark:text-neutral-100">{ title }</h1>
		<div class="flex items-center space-x-4">
			@ThemeSwitcher("light")
		</div>
	</header>
}